<%- include ../layouts/header.ejs %>
<div class="page-data">
    <form method="post" action="/users/edit/<%=data.id%>">
        <table cellpadding="11">
            <tr>
                <td class="label">full_name</td>
                <td><input type="text" name="full_name" value="<%=data.full_name%>" required /></td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td><input type="text" value="<%=data.email%>" name="email" required /></td>
            </tr>
            <tr>
                <td class="label">Gender</td>
                <td><input type="text" name="gender" value="<%=data.gender%>" required /></td>
            </tr>
            <tr>
                <td class="label"></td>
                <td>
                    <button type="submit">Save</button>
                    <button type="button" onClick="cancelAdd()">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<%- include ../layouts/footer.ejs %>
